* {
    font-family: arial;
}

h1 {
    text-align: center;
}

/* CSS design for table */
table {
    border: 1px solid black;
    width: 80%;
    margin: auto;
}

th {
    font-size: 17px;
}

th, td {
    box-shadow: 1px 1px black;
    padding: 8px;
    text-align: center;
}